body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.square {
    box-sizing: border-box;
    border: 1px dashed black;
}